@import "tailwindcss";

* {
  font-family: "Prompt", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@custom-variant dark (&:where(.dark, .dark *)) {
}

@layer components {
  .btn {
    @apply flex items-center gap-2 px-4 py-2 text-sm font-medium text-white bg-gradient-to-r from-blue-500 to-indigo-600 hover:from-blue-600 hover:to-indigo-700 rounded-lg shadow-sm hover:shadow-md focus:outline-none focus-visible:ring-2 focus-visible:ring-indigo-500 transition duration-300 cursor-pointer;
  }
}
